#container {
    padding: 0 100px 0 100px;
}

#productDescription {
    display: grid;
    grid-template-columns: 250px auto;
    padding: 25px;
}
#mainContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-left: 1px solid #d4d2d2;
}


.ratingInProductPage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#mainContent > #image {
    justify-content:stretch;
}

#mainContent > img {
    object-fit:contain;
}

#originalPrice {
    text-decoration: line-through;
}

#accordion {
    /* border: 1px solid blue; */
    padding: 5px;
    margin: 5px;
}
#dropdownAccordion {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#productDescription {
    /* border: 1px solid red; */
}
footer{
    display: flex;
}
footer > div > div >h4{
    padding-left: 40px;
    color: #84c225;
}
.content{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
}

li{
    text-decoration: none;
    list-style: none;
    padding: 5px 0px;
}
li>a{
    text-decoration: none;
    list-style: none;
    color: black;
}
.logo{
    display: flex;
    align-items: start;
    width: 67%;
    /* justify-content:; */
}
.logo>div+div>h4{
    margin: 23px 166px;
}
.social>img{
    width: 8%;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
}