.slider>img{
    width: 100%;
}
h1{
    text-align: center;
    font-weight: 100;
}
.smartBasket{
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    box-sizing: border-box;
    gap: 20px;
    width: 85%;
    margin: auto;
}
.smartBasket>div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: auto;
    padding: 10px 30px;
}

.fruitVeg
{
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    box-sizing: border-box;
    gap: 20px;
    width: 85%;
    margin: auto;
}

.fruitVeg>div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: auto;
    padding: 10px 30px;
}
.bankOffers>div>img{
    width: 100%;
}
.topOffers>div{
    border: 1px solid gray;
}
.bankOffers{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    box-sizing: border-box;
    gap: 20px;
    width: 85%;
    margin: auto;
}
.bottom{
    width: 80%;
    margin: auto;
}
